doctype html
html(lang="en")
  head
    title Meet the team | Westminster SU
    meta(charset="UTF-8")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(type="text/css",rel="stylesheet",href="style.css")
    link(type="text/css",rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
  body
    .demo-container
    
      #simon-team-gallery
        
        h3.department Communications
        ul.team
          li.member
            .img
              .cover
                .member-contact
                  a(href="mailto:#")
                    i.fa.fa-envelope-o
                  a(href="#")
                    i.fa.fa-twitter
                  a(href="tel:02079115000")
                    i.fa.fa-phone
            p.member-job-title Position
            h4.member-name Forename Surname

    script(src="app.js")
